.adds {
  padding: 80px 0;
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
    padding: 0 26px;
  }

  &__list {
  }

  &__item {
    position: relative;
    padding: 28px;
    border-radius: 15px;

    .adds__link:hover,
    .adds__link:focus {
      .adds__item_icon {
        transform: rotate(90deg);
      }
    }

    &_icon {
      transition: transform $animation;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__item:nth-child(4n + 1) {
    background-color: #fd9222;
  }

  &__item:nth-child(2n + 1) {
    color: $light;
    stroke: $light;

    .adds__link {
      border: 1px solid $light;
    }
  }

  &__item:nth-child(2n + 2) {
    border: 1px solid #fd9222;
    color: $dark;
    stroke: $orange;

    .adds__link {
      border: 1px solid $orange;
    }
  }

  &__item:nth-child(4n + 3) {
    background-color: #1e1823;
  }

  &__link {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item_icon {
    width: 30px;
    height: 7px;
  }

  &__item_img {
    margin: 0 auto;
    margin-bottom: 16px;
  }

  &__item_text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
}
