.adds {
}
.container {
}
.add__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.title__accent {
  color: #fd9222;
}
.adds__list {
}
.adds__item {
}
.adds__link {
}
.adds__item_icon {
}
.adds__item_img {
}
.adds__item_text {
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.28px;
}
