.benefits {
}
.container {
}
.visually-hidden {
}
.benefits__list {
}
.benefits__item {
}
.benefits__item_icon {
}
.benefits__item_title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.18px;
}
.benefits__item_text {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.28;
  letter-spacing: -0.28px;
}
