.benefits {
  background-color: $violet;

  &__list {
  }
  &__item {
    &_icon {
    }
    &_title {
      color: $white;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
    }
    &_text {
      color: $white-clear;
      line-height: 1.28;
      letter-spacing: -0.02em;
    }
  }
}
