@import '~node_modules/modern-normalize/modern-normalize.css';
@import './reset';

$dark: #111111;
$violet: #1e1823;
$grey: #4c4c4c;
$orange: #fd9222;
$beige: #fcf1e0;
$light: #fafafa;
$white: #ffffff;
$white-clear: rgba(255, 255, 255, 0.7);
$dark-clear: rgba(17, 17, 17, 0.7);

$primary-font: 'Montserrat', sans-serif;
$animation: 350ms ease;

body {
  font-family: $primary-font;
  color: $dark;
  background-color: $light;
}

.container {
  max-width: 320px;
  min-width: 260px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.title__accent {
  color: $orange;
}

.section__title {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.small__text {
  line-height: 1.28;
  letter-spacing: -0.02em;
}
