.footer {
  background-color: $violet;
  color: $white;

  &__top {
    &_text {
      font-size: 28px;
      font-weight: 500;
      line-height: 1.21;
      letter-spacing: -0.02em;
    }
    &__social {
      &__title {
        text-align: center;
        font-weight: 500;
        line-height: 1.28;
      }
      &__list {
      }

      &__item {
      }

      &__link {
      }

      &__icon {
      }
    }

    &__address {
      &__title {
        font-weight: 500;
        line-height: 1.28;
      }
      &__list {
      }
      &__item {
      }
      &__link {
        line-height: 1.28;
        letter-spacing: -0.02em;
      }
    }
  }

  &__bottom {
    &__list {
    }
    &__item {
    }
    &__link {
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.02em;
    }
    &__form {
      &__label {
      }
      &__input {
      }

      &__input::placeholder {
        color: rgba(255, 255, 255, 0.3);
        font-size: 18px;
        letter-spacing: -0.02em;
      }

      &__btn {
        font-weight: 600;
      }
    }
  }
}
