.header {
  &__nav {
    &__logo {
      &__link {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.11; // 1,11
        letter-spacing: -0.54px;

        .logo-accent {
          font-style: italic;
        }
      }

      &__icon {
      }
    }
    &__list {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.28px;
    }
    &__item {
    }
    &__link {
    }
  }
  &__social {
    &__list {
    }
    &__item {
    }
    &__link {
    }
    &__icon {
    }
  }
}
