.hero {
  color: $white;

  &__info {
    &__title {
      font-size: 28px;
      font-weight: 500;
      line-height: 1.21;
      letter-spacing: -0.03em;
    }

    &__btns {
      .btn {
        font-weight: 600;
      }
    }
  }
  .scroll__link {
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;

    .scroll__icon {
    }
  }
}
