.howitsmade {
}
.container {
}
.howitsmade__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.title__accent {
  color: #fd9222;
}
.howitsmade__box {
}
.howitsmade__box__left__side {
}
.howitsmade__box_img {
}
.howitsmade__box_info {
  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
  }
  li {
    line-height: 1.28;
    letter-spacing: -0.28px;
  }
}
