.howitsmade {
  padding-bottom: 80px;
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  &__box {
    &__leftside {
      width: 335px;
      height: 500px;
      margin-bottom: 20px;
      img {
      }
    }
    &__info {
      padding: 20px 14px;
      .subtitle {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        margin-bottom: 20px;
      }
      li {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.28;
        letter-spacing: -0.02em;
        padding-left: 16px;
      }
      li:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }
}
