.reviews {
  &__title {
  }

  &__list {
    &__thumb {
    }
  }
  &__item {
    &_img {
    }
    &_title {
      text-align: center;
    }
    &_text {
      color: $dark-clear;
      text-align: center;
    }

    &__btn {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
