.reviews {
  padding-bottom: 80px;
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 74px;
  }

  &__list {
    margin-bottom: 32px;
  }
  &__item {
    position: relative;
    padding: 56px 18px 42px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background-color: #fff;
    box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);

    &__thumb {
      position: absolute;
      top: 0;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &_img {
    }

    &_title {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.33;
      text-align: center;
      margin-bottom: 24px;
    }

    &_text {
      color: $dark-clear;
      text-align: center;
      font-size: 14px;
      letter-spacing: -0.02em;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 60px;
  }

  &__btn__box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    font-size: 14px;
    line-height: normal;
    font-weight: 600;

    padding: 12px 28px;
    border-radius: 100px;
    border: 1px solid #fd9222;

    transition: background-color $animation, color $animation;
  }

  &__btn:focus,
  &__btn:hover {
    background-color: $orange;
    color: $white;
  }
}
