<section class="adds" id="adds">
  <div class="container">
    <h2 class="adds__title section__title">
      It all adds up to one exceptional
      <span class="title__accent">taste</span> sensation
    </h2>
    <ul class="adds__list">
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/adds/adds_desc/img-1.png    1x,
              ./images/adds/adds_desc/img-1@2x.png 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/adds/adds_tab/img-1.png    1x,
              ./images/adds/adds_tab/img-1@2x.png 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/adds/adds_mob/img-1.png    1x,
              ./images/adds/adds_mob/img-1@2x.png 2x
            "
          />
          <img
            src="./images/adds/adds_mob/img-1.png"
            alt="milk chocolate"
            class="adds__item_img"
            width="214"
            height="160"
            loading="lazy"
          />
        </picture>

        <h3 class="adds__item_text small__text">milk chocolate</h3>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/adds/adds_desc/img-2.png    1x,
              ./images/adds/adds_desc/img-2@2x.png 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/adds/adds_tab/img-2.png    1x,
              ./images/adds/adds_tab/img-2@2x.png 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/adds/adds_mob/img-2.png    1x,
              ./images/adds/adds_mob/img-2@2x.png 2x
            "
          />
          <img
            src="./images/adds/adds_mob/img-2.png"
            alt="milk"
            class="adds__item_img"
            width="214"
            height="160"
            loading="lazy"
          />
        </picture>
        <h3 class="adds__item_text small__text">milk</h3>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/adds/adds_desc/img-3.png    1x,
              ./images/adds/adds_desc/img-3@2x.png 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/adds/adds_tab/img-3.png    1x,
              ./images/adds/adds_tab/img-3@2x.png 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/adds/adds_mob/img-3.png    1x,
              ./images/adds/adds_mob/img-3@2x.png 2x
            "
          />
          <img
            src="./images/adds/adds_mob/img-3.png"
            alt="nuts"
            class="adds__item_img"
            width="214"
            height="160"
            loading="lazy"
          />
        </picture>
        <h3 class="adds__item_text small__text">nuts</h3>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/adds/adds_desc/img-4.png    1x,
              ./images/adds/adds_desc/img-4@2x.png 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/adds/adds_tab/img-4.png    1x,
              ./images/adds/adds_tab/img-4@2x.png 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/adds/adds_mob/img-4.png    1x,
              ./images/adds/adds_mob/img-4@2x.png 2x
            "
          />
          <img
            src="./images/adds/adds_mob/img-4.png"
            alt="semi-sweetchocolate"
            class="adds__item_img"
            width="214"
            height="160"
            loading="lazy"
          />
        </picture>
        <h3 class="adds__item_text small__text">semi-sweetchocolate</h3>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/adds/adds_desc/img-5.png    1x,
              ./images/adds/adds_desc/img-5@2x.png 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/adds/adds_tab/img-5.png    1x,
              ./images/adds/adds_tab/img-5@2x.png 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/adds/adds_tab/img-5.png    1x,
              ./images/adds/adds_tab/img-5@2x.png 2x
            "
          />
          <img
            src="./images/adds/adds_tab/img-5.png"
            alt="cacao"
            class="adds__item_img"
            width="214"
            height="160"
            loading="lazy"
          />
        </picture>
        <h3 class="adds__item_text small__text">cacao</h3>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/adds/adds_desc/img-6.png    1x,
              ./images/adds/adds_desc/img-6@2x.png 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/adds/adds_tab/img-6.png    1x,
              ./images/adds/adds_tab/img-6@2x.png 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/adds/adds_tab/img-6.png    1x,
              ./images/adds/adds_tab/img-6@2x.png 2x
            "
          />
          <img
            src="./images/adds/adds_tab/img-6.png"
            alt="raspberry"
            class="adds__item_img"
            width="214"
            height="160"
            loading="lazy"
          />
        </picture>
        <h3 class="adds__item_text small__text">raspberry</h3>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/adds/adds_desc/img-7.png    1x,
              ./images/adds/adds_desc/img-7@2x.png 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/adds/adds_tab/img-7.png    1x,
              ./images/adds/adds_tab/img-7@2x.png 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/adds/adds_tab/img-7.png    1x,
              ./images/adds/adds_tab/img-7@2x.png 2x
            "
          />
          <img
            src="./images/adds/adds_tab/img-7.png"
            alt="coconut oil"
            class="adds__item_img"
            width="214"
            height="160"
            loading="lazy"
          />
        </picture>
        <h3 class="adds__item_text small__text">coconut oil</h3>
      </li>
    </ul>
  </div>
</section>
