<section class="adds" id="adds">
  <div class="container">
    <h2 class="adds__title section__title">
      It all adds up to one exceptional
      <span class="title__accent">taste</span> sensation
    </h2>
    <ul class="adds__list">
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <img
          src="./images/adds/adds_desc/img-1.png"
          alt="milk chocolate"
          class="adds__item_img"
          width="214"
          height="160"
          loading="lazy"
        />
        <p class="adds__item_text small__text">milk chocolate</p>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <img
          src="./images/adds/adds_desc/img-2.png"
          alt="milk"
          class="adds__item_img"
          width="214"
          height="160"
          loading="lazy"
        />
        <p class="adds__item_text small__text">milk</p>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <img
          src="./images/adds/adds_desc/img-3.png"
          alt="nuts"
          class="adds__item_img"
          width="214"
          height="160"
          loading="lazy"
        />
        <p class="adds__item_text small__text">nuts</p>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <img
          src="./images/adds/adds_desc/img-4.png"
          alt="semi - sweet chocolate"
          class="adds__item_img"
          width="214"
          height="160"
          loading="lazy"
        />
        <p class="adds__item_text small__text">semi -sweetchocolate</p>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <img
          src="./images/adds/adds_desc/img-5.png"
          alt="cacao"
          class="adds__item_img"
          width="214"
          height="160"
          loading="lazy"
        />
        <p class="adds__item_text small__text">cacao</p>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <img
          src="./images/adds/adds_desc/img-6.png"
          alt="raspberry"
          class="adds__item_img"
          width="214"
          height="160"
          loading="lazy"
        />
        <p class="adds__item_text small__text">raspberry</p>
      </li>
      <li class="adds__item">
        <a href="#" class="adds__link">
          <svg class="adds__item_icon" width="10" height="5">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <img
          src="./images/adds/adds_desc/img-7.png"
          alt="coconut oil"
          class="adds__item_img"
          width="214"
          height="160"
          loading="lazy"
        />
        <p class="adds__item_text small__text">coconut oil</p>
      </li>
    </ul>
  </div>
</section>
