<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__top">
      <p class="footer__top_text">
        <span class="title__accent">Chocolate</span> a delicious cure for a bad
        day
      </p>
      <div class="footer__top__addressBox">
        <address class="footer__top__address">
          <p class="footer__top__address__title">Contact us</p>
          <ul class="footer__top__address__list">
            <li class="footer__top__address__item">
              <a class="footer__top__address__link" href="tel:380684439426">
                +380 (68) 443-94-26
              </a>
            </li>
            <li class="footer__top__address__item">
              <a
                class="footer__top__address__link"
                href="mailto:simplychoc@gmail.com"
              >
                simplychoc@gmail.com
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer__top__social">
        <p class="footer__top__social__title">Social networks</p>
        <ul class="footer__top__social__list">
          <li class="footer__top__social__item">
            <a
              href="https://facebook.com"
              class="footer__top__social__link"
              target="_blank"
              rel="noopener noreferer"
              aria-label="facebook icon"
            >
              <svg class="footer__top__social__icon" width="24" height="24">
                <use href="./images/svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__top__social__item">
            <a
              href="https://instagram.com"
              class="footer__top__social__link"
              target="_blank"
              rel="noopener noreferer"
              aria-label="instagram icon"
            >
              <svg class="footer__top__social__icon" width="24" height="24">
                <use href="./images/svg/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__top__social__item">
            <a
              href="https://twitter.com"
              class="footer__top__social__link"
              target="_blank"
              rel="noopener noreferer"
              aria-label="twitter icon"
            >
              <svg class="footer__top__social__icon" width="24" height="24">
                <use href="./images/svg/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <ul class="footer__bottom__list">
        <li class="footer__bottom__item">
          <a href="" class="footer__bottom__link">Home</a>
        </li>
        <li class="footer__bottom__item">
          <a href="" class="footer__bottom__link">How it's made?</a>
        </li>
        <li class="footer__bottom__item">
          <a href="" class="footer__bottom__link">Chocolate is loved</a>
        </li>
      </ul>
      <form class="footer__bottom__form" name="footer_form">
        <label for="footerInput" class="footer__bottom__form__label">
          <input
            type="text"
            class="footer__bottom__form__input"
            name="footerInput"
            id="footerInput"
            placeholder="Enter your email"
          />
        </label>
        <button class="footer__bottom__form__btn" type="submit">
          Subscribe
        </button>
      </form>
    </div>
  </div>
</footer>
