<footer class="footer">
  <div class="footer__top">
    <p class="footer__top_text">Chocolate a delicious cure for a bad day</p>
    <div class="footer__top_socialBox">
      <p class="footer__top__social__title">Social networks</p>
      <ul class="footer__top__social__list">
        <li class="footer__top__social__item">
          <a href="" class="footer__top__social__link">
            <svg class="footer__top__social__icon" width="32" height="32">
              <use href="./images/svg/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__top__social__item">
          <a href="" class="footer__top__social__link">
            <svg class="footer__top__social__icon" width="32" height="32">
              <use href="./images/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__top__social__item">
          <a href="" class="footer__top__social__link">
            <svg class="footer__top__social__icon" width="32" height="32">
              <use href="./images/svg/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="address">
        <p class="address__title"></p>
        <a href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
        <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
      </address>
    </div>
  </div>
  <div class="footer__bottom">
    <ul class="footer__down__list">
      <li class="footer__bottom__item">
        <a href="" class="footer__bottom__link">Home</a>
      </li>
      <li class="footer__bottom__item">
        <a href="" class="footer__bottom__link">How it's made?</a>
      </li>
      <li class="footer__bottom__item">
        <a href="" class="footer__bottom__link">Chocolate is loved</a>
      </li>
    </ul>
    <form class="footer__form">
      <label for="footerInput" class="footer__form__label">
        <input
          type="text"
          class="footer__form__input"
          name="footerInput"
          id="footerInput"
          placeholder="Enter your email"
        />
      </label>
      <button class="btn" type="submit">Subscribe</button>
    </form>
  </div>
</footer>
