<header class="header">
  <nav class="nav">
    <div class="logo__container">
      <a href="" class="logo"><span>SIMPLY</span> CHOCOLATE</a>
      <svg class="logo__icon" width="32" height="32">
        <use href="./images/svg/icons.svg#icon-chocolate"></use>
      </svg>
    </div>
    <ul class="nav__list">
      <li class="nav__item">
        <a href="" class="nav__link">Home</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">How it's made?</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Chocolate is loved</a>
      </li>
    </ul>
  </nav>
  <ul class="social__list">
    <li class="social__item">
      <a href="" class="social__link">
        <svg class="social__icon" width="32" height="32">
          <use href="./images/svg/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="" class="social__link">
        <svg class="social__icon" width="32" height="32">
          <use href="./images/svg/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="" class="social__link">
        <svg class="social__icon" width="32" height="32">
          <use href="./images/svg/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</header>
