<header class="header" id="home">
  <div class="container">
    <div class="header__container">
      <nav class="header__nav">
        <div class="header__nav__logo">
          <a href="./index.html" class="header__nav__logo__link">
            <span class="logo-accent">SIMPLY</span> CHOCOLATE
          </a>
          <svg class="header__nav__logo__icon" width="24" height="24">
            <use href="./images/svg/icons.svg#icon-chocolate"></use>
          </svg>
        </div>
        <ul class="header__nav__list">
          <li class="nav__item">
            <a href="#" class="header__nav__link">Home</a>
          </li>
          <li class="header__nav__item">
            <a href="#" class="header__nav__link">How it's made?</a>
          </li>
          <li class="header__nav__item">
            <a href="#" class="header__nav__link">Chocolate is loved</a>
          </li>
        </ul>

        <button class="modal-menu-btn" type="button">
          <svg class="modal-menu-icon" width="28" height="28">
            <use href="./images/svg/icons.svg#modal_menu"></use>
          </svg>
        </button>
      </nav>
      <ul class="header__social__list">
        <li class="social__item">
          <a
            href="https://facebook.com"
            class="header__social__link"
            target="_blank"
            rel="noopener noreferer"
            aria-label="facebook icon"
          >
            <svg class="header__social__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header__social__item">
          <a
            href="https://instagram.com"
            class="header__social__link"
            target="_blank"
            rel="noopener noreferer"
            aria-label="instagram icon"
          >
            <svg class="header__social__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header__social__item">
          <a
            href="https://twitter.com"
            class="header__social__link"
            target="_blank"
            rel="noopener noreferer"
            aria-label="twitter icon"
          >
            <svg class="header__social__icon" width="24" height="24">
              <use href="./images/svg/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
