<section class="hero" id="hero">
  <div class="hero__info">
    <h1 class="hero__info_title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="hero__info_btns">
      <button class="btn" type="button">Buy now</button>
      <button class="btn" type="button">How it's made</button>
    </div>
  </div>
  <a class="scroll__link" href="#benefits">
    scroll down
    <svg class="scroll__icon" width="13" height="7">
      <use href="./images/svg/icons.svg#icon-scroll"></use>
    </svg>
  </a>
</section>
