<section class="hero" id="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__info">
        <h1 class="hero__info__title">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h1>
        <div class="hero__info__btns">
          <button class="btn accent" type="button">Buy now</button>
          <button class="btn ligth" type="button">How it's made</button>
        </div>
      </div>

      <div class="scroll">
        <p class="scroll__text">scroll down</p>
        <a class="scroll__link" href="#benefits">
          <svg class="scroll__icon" width="13" height="7">
            <use href="./images/svg/icons.svg#icon-scroll"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
