<section class="howitsmade" id="made">
  <div class="container">
    <h2 class="howitsmade__title section__title">
      How it's <span class="title__accent">made</span>?
    </h2>
    <div class="howitsmade__box">
      <div class="howitsmade__box__leftside">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/made/image-desc.png    1x,
              ./images/made/image-desc@2x.png 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/made/image-tab.png    1x,
              ./images/made/image-tab@2x.png 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/made/image-mob.png    1x,
              ./images/made/image-mob@2x.png 2x
            "
          />
          <img
            src="./images/made/image-mob.png"
            alt="how it's made"
            width="600"
            height="400"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="howitsmade__box__info">
        <h3 class="subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul>
          <li class="small__text">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="small__text">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="small__text">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="small__text">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="small__text">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
