<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-close-icon" width="28" height="28">
      <use href="./images/svg/icons.svg#icon-x"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link link" href="">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link link" href="">How it’s made?</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link link" href="">Chocolate is loved</a>
    </li>
  </ul>

  <ul class="mobile-menu-socials socials list">
    <li class="socials-item">
      <a
        class="socials-link"
        href="https://instagram.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram icon"
      >
        <svg class="socials-icon" width="24" height="24">
          <use href="./images/svg/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="socials-item">
      <a
        class="socials-link"
        href="https://facebook.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook icon"
      >
        <svg class="socials-icon" width="24" height="24">
          <use href="./images/svg/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="socials-item">
      <a
        class="socials-link"
        href="https://twitter.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Twitter icon"
      >
        <svg class="socials-icon" width="24" height="24">
          <use href="./images/svg/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
