<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="burgerMenu__btn js-close-menu" type="button">
    <svg class="burgerMenu__closeIcon" width="28" height="28">
      <use href="./images/svg/icons.svg#icon-x"></use>
    </svg>
  </button>
  <ul class="burgerMenu__list">
    <li class="burgerMenu__item">
      <a class="burgerMenu__link" href="#">Home</a>
    </li>
    <li class="burgerMenu__item">
      <a class="burgerMenu__link" href="#">How it’s made?</a>
    </li>
    <li class="burgerMenu__item">
      <a class="burgerMenu__link" href="#">Chocolate is loved</a>
    </li>
  </ul>
  <ul class="burgerMenu__socialList">
    <li class="burgerMenu__socialItem">
      <a href="#" class="burgerMenu__socialLink">
        <svg class="burgerMenu__socialIcon" width="24" height="24">
          <use href="./images/svg/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="burgerMenu__socialItem">
      <a href="#" class="burgerMenu__socialLink">
        <svg class="burgerMenu__socialIcon" width="24" height="24">
          <use href="./images/svg/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="burgerMenu__socialItem">
      <a href="#" class="burgerMenu__socialLink">
        <svg class="burgerMenu__socialIcon" width="24" height="24">
          <use href="./images/svg/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
