<section class="products container" id="products">
  <h2 class="products__title">
    Our <span class="title__accent">products</span>
  </h2>
  <ul class="products__list">
    <li class="products__item">
      <a href="" class="products__link">
        <img
          src="./images/products/img-1.png"
          alt="orange "
          class="products__item_img"
          width="230"
          height="200"
          loading="lazy"
        />
        <h3 class="products__item_title">orange</h3>
        <p class="products__item_text">Dark chocolate</p>
        <p class="products__item_price">45 UAH</p>
      </a>
    </li>
    <li class="products__item">
      <a href="" class="products__link">
        <img
          src="./images/products/img-2.png"
          alt="APPLE&CRANBERRY"
          class="products__item_img"
          width="230"
          height="200"
          loading="lazy"
        />
        <h3 class="products__item_title">APPLE&CRANBERRY</h3>
        <p class="products__item_text">Milk chocolate</p>
        <p class="products__item_price">50 UAH</p>
      </a>
    </li>
    <li class="products__item">
      <a href="" class="products__link">
        <img
          src="./images/products/img-3.png"
          alt="lime&sea salt"
          class="products__item_img"
          width="230"
          height="200"
          loading="lazy"
        />
        <h3 class="products__item_title">lime&sea salt</h3>
        <p class="products__item_text">Dark chocolate</p>
        <p class="products__item_price">66 UAH</p>
      </a>
    </li>
    <li class="products__item">
      <a href="" class="products__link">
        <img
          src="./images/products/img-4.png"
          alt="pineapple"
          class="products__item_img"
          width="230"
          height="200"
          loading="lazy"
        />
        <h3 class="products__item_title">pineapple</h3>
        <p class="products__item_text">Dark chocolate</p>
        <p class="products__item_price">54 UAH</p>
      </a>
    </li>
    <li class="products__item">
      <a href="" class="products__link">
        <img
          src="./images/products/img-5.png"
          alt="Classic"
          class="products__item_img"
          width="230"
          height="200"
          loading="lazy"
        />
        <h3 class="products__item_title">Classic</h3>
        <p class="products__item_text">Milk chocolate</p>
        <p class="products__item_price">45 UAH</p>
      </a>
    </li>
    <li class="products__item">
      <a href="" class="products__link">
        <img
          src="./images/products/img-6.png"
          alt="honey"
          class="products__item_img"
          width="230"
          height="200"
          loading="lazy"
        />
        <h3 class="products__item_title">honey</h3>
        <p class="products__item_text">Milk chocolate</p>
        <p class="products__item_price">50 UAH</p>
      </a>
    </li>
    <li class="products__item">
      <a href="" class="products__link">
        <img
          src="./images/products/img-7.png"
          alt="Roasted fruits"
          class="products__item_img"
          width="230"
          height="200"
          loading="lazy"
        />
        <h3 class="products__item_title">Roasted fruits</h3>
        <p class="products__item_text">Dark chocolate</p>
        <p class="products__item_price">66 UAH</p>
      </a>
    </li>
    <li class="products__item">
      <a href="" class="products__link">
        <img
          src="./images/products/img-8.png"
          alt="Classic"
          class="products__item_img"
          width="230"
          height="200"
          loading="lazy"
        />
        <h3 class="products__item_title">Classic</h3>
        <p class="products__item_text">White chocolate</p>
        <p class="products__item_price">54 UAH</p>
      </a>
    </li>
  </ul>
</section>
