<section class="products" id="products">
  <div class="container">
    <h2 class="products__title section__title">
      Our <span class="title__accent">products</span>
    </h2>
    <ul class="products__list">
      <li class="products__item">
        <a href="" class="products__link">
          <picture>
            <source
              srcset="
                ./images/products/img-1.png    1x,
                ./images/products/img-1@2x.png 2x
              "
            />
            <img
              src="./images/products/img-1.png"
              alt="orange"
              class="products__item_img"
              width="230"
              height="200"
              loading="lazy"
            />
          </picture>
          <h3 class="products__item_title middle-title">orange</h3>
          <p class="products__item_text">Dark chocolate</p>
          <div class="products__item_price">
            <p class="products__item_price_text">45 UAH</p>
          </div>
        </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
          <picture>
            <source
              srcset="
                ./images/products/img-2.png    1x,
                ./images/products/img-2@2x.png 2x
              "
            />
            <img
              src="./images/products/img-2.png"
              alt="APPLE&CRANBERRY"
              class="products__item_img"
              width="230"
              height="200"
              loading="lazy"
            />
          </picture>
          <h3 class="products__item_title subtitle">APPLE&CRANBERRY</h3>
          <p class="products__item_text">Milk chocolate</p>
          <div class="products__item_price">
            <p class="products__item_price_text">50 UAH</p>
          </div>
        </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
          <picture>
            <source
              srcset="
                ./images/products/img-3.png    1x,
                ./images/products/img-3@2x.png 2x
              "
            />
            <img
              src="./images/products/img-3.png"
              alt="lime & sea salt"
              class="products__item_img"
              width="230"
              height="200"
              loading="lazy"
            />
          </picture>
          <h3 class="products__item_title subtitle">lime&sea salt</h3>
          <p class="products__item_text">Dark chocolate</p>
          <div class="products__item_price">
            <p class="products__item_price_text">66 UAH</p>
          </div>
        </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
          <picture>
            <source
              srcset="
                ./images/products/img-4.png    1x,
                ./images/products/img-4@2x.png 2x
              "
            />
            <img
              src="./images/products/img-4.png"
              alt="pineapple"
              class="products__item_img"
              width="230"
              height="200"
              loading="lazy"
            />
          </picture>
          <h3 class="products__item_title subtitle">pineapple</h3>
          <p class="products__item_text">Dark chocolate</p>
          <div class="products__item_price">
            <p class="products__item_price_text">54 UAH</p>
          </div>
        </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
          <picture>
            <source
              srcset="
                ./images/products/img-5.png    1x,
                ./images/products/img-5@2x.png 2x
              "
            />
            <img
              src="./images/products/img-5.png"
              alt="Classic"
              class="products__item_img"
              width="230"
              height="200"
              loading="lazy"
            />
          </picture>
          <h3 class="products__item_title subtitle">Classic</h3>
          <p class="products__item_text">Milk chocolate</p>
          <div class="products__item_price">
            <p class="products__item_price_text">45 UAH</p>
          </div>
        </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
          <picture>
            <source
              srcset="
                ./images/products/img-6.png    1x,
                ./images/products/img-6@2x.png 2x
              "
            />
            <img
              src="./images/products/img-6.png"
              alt="honey"
              class="products__item_img"
              width="230"
              height="200"
              loading="lazy"
            />
          </picture>
          <h3 class="products__item_title subtitle">honey</h3>
          <p class="products__item_text">Milk chocolate</p>
          <div class="products__item_price">
            <p class="products__item_price_text">50 UAH</p>
          </div>
        </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
          <picture>
            <source
              srcset="
                ./images/products/img-7.png    1x,
                ./images/products/img-7@2x.png 2x
              "
            />
            <img
              src="./images/products/img-7.png"
              alt="Roasted fruits"
              class="products__item_img"
              width="230"
              height="200"
              loading="lazy"
            />
          </picture>
          <h3 class="products__item_title subtitle">Roasted fruits</h3>
          <p class="products__item_text">Dark chocolate</p>
          <div class="products__item_price">
            <p class="products__item_price_text">66 UAH</p>
          </div>
        </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
          <picture>
            <source
              srcset="
                ./images/products/img-8.png    1x,
                ./images/products/img-8@2x.png 2x
              "
            />
            <img
              src="./images/products/img-8.png"
              alt="Classic"
              class="products__item_img"
              width="230"
              height="200"
              loading="lazy"
            />
          </picture>
          <h3 class="products__item_title subtitle">Classic</h3>
          <p class="products__item_text">White chocolate</p>
          <div class="products__item_price">
            <p class="products__item_price_text">54 UAH</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
