<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title section__title">
      <span class="title__accent">Chocolate</span> is loved
    </h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="reviews__item__thumb">
          <picture>
            <source
              srcset="
                ./images/reviews/Ellipse-1.png    1x,
                ./images/reviews/Ellipse-1@2x.png 2x
              "
            />
            <img
              src="./images/reviews/Ellipse-1.png"
              alt="Victoria Dobrzhanska"
              class="reviews__item_img"
              width="80"
              height="80"
              loading="lazy"
            />
          </picture>
        </div>
        <h2 class="reviews__item_title subtitle">Victoria Dobrzhanska</h2>
        <p class="reviews__item_text small__text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="reviews__item">
        <div class="reviews__item__thumb">
          <picture>
            <source
              srcset="
                ./images/reviews/Ellipse-2.png    1x,
                ./images/reviews/Ellipse-2@2x.png 2x
              "
            />
            <img
              src="./images/reviews/Ellipse-2.png"
              alt="Nazar Babenko"
              class="reviews__item_img"
              width="80"
              height="80"
              loading="lazy"
            />
          </picture>
        </div>
        <h2 class="reviews__item_title subtitle">Nazar Babenko</h2>
        <p class="reviews__item_text small__text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews__item">
        <div class="reviews__item__thumb">
          <picture>
            <source
              srcset="
                ./images/reviews/Ellipse-3.png    1x,
                ./images/reviews/Ellipse-3@2x.png 2x
              "
            />
            <img
              src="./images/reviews/Ellipse-3.png"
              alt="Olena Kampusch"
              class="reviews__item_img"
              width="80"
              height="80"
              loading="lazy"
            />
          </picture>
        </div>
        <h2 class="reviews__item_title subtitle">Olena Kampusch</h2>
        <p class="reviews__item_text small__text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <div class="reviews__btn__box">
      <button class="reviews__btn" type="button">Leave a review</button>
    </div>
  </div>
</section>
