<section class="sellers" id="sellers">
  <div class="container">
    <h2 class="sellers__title">
      <span class="title__accent">Top</span> sellers
    </h2>
    <ul class="sellers__list">
      <li class="sellers__item">
        <a href="#" class="sellers__link">
          <img
            src="./images/top-sellers/sellers/img-1.jpg"
            alt="CHOCOLATE WITH NUTS"
            class="sellers__item_img"
            width="368"
            height="464"
            loading="lazy"
          />
          <h3 class="sellers__item_title">CHOCOLATE WITH NUTS</h3>
        </a>
      </li>
      <li class="sellers__item">
        <a href="#" class="sellers__link">
          <img
            src="./images/top-sellers/sellers/img-2.jpg"
            alt="CHOCOLATE WITH FRUITS"
            class="sellers__item_img"
            width="368"
            height="464"
            loading="lazy"
          />
          <h3 class="sellers__item_title">CHOCOLATE WITH FRUITS</h3>
        </a>
      </li>
      <li class="sellers__item">
        <a href="#" class="sellers__link">
          <img
            src="./images/top-sellers/sellers/img-3.jpg"
            alt="DARK CHOCOLATE"
            class="sellers__item_img"
            width="368"
            height="464"
            loading="lazy"
          />
          <h3 class="sellers__item_title">DARK CHOCOLATE</h3>
        </a>
      </li>
    </ul>
  </div>
</section>
